@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings */

h1 {
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a
}

p {
    font-family: 'Jockey One', sans-serif;
    color: #3a3a3a
}

/* logotype */

#logo {
    float: left;
    font-size: 250%;
    margin-left: 75px;
}

/* navigation bar */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 75px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
    transition: all 0.3s ease 0s;
}

/* change color */
#menu a:hover {
    color: darkred;
    border-bottom: 1px solid darkred;
}

.active {
    border-bottom: 1px solid #3a3a3a
}

/* billboard and article */

.align {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

#billboard-right {
    width: 50%;
    padding-top: 30px;
    float: right;
}

img {
    width: 100%;
    height: 100%;
}

/* left article */

#article-left {
    width: 50%;
    padding-top: 30px;
    float: left;
}