@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings */

h1 {
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a
}

p {
    font-family: 'Jockey One', sans-serif;
    color: #3a3a3a
}

/* logotype */

#logo {
    float: left;
    font-size: 250%;
    margin-left: 75px;
}

/* navigation bar */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 75px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
    transition: all 0.3s ease 0s;
}

/* change color */
#menu a:hover {
    color: darkred;
    border-bottom: 1px solid darkred;
}

.active {
    border-bottom: 1px solid #3a3a3a
}

/* billboard and article */

#parent {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.child1 {
    width: 50%;
    padding-top: 100px;
    float: left;
    vertical-align: middle;
}

#child1-heading {
    padding-left: 75px;
    text-align: center;
}

#child1, h2 {
    font-size: 250%;
}

.child2 {
    max-width: 50%;
    float: right;
    vertical-align: middle;
}

img {
    float: right;
    width: 100%;
    position: relative;
}


/* footer */

footer {
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer p {
    color: #3a3a3a;
}

#instagram-link {
    font-size: 160%;
    color: #3a3a3a;
    display: inline;
}
