@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings */

h1 {
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a
}

/* logotype */

#logo {
    float: left;
    font-size: 250%;
    margin-left: 75px;
}

/* navigation bar */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 75px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
    transition: all 0.3s ease 0s;
}

/* change color */
#menu a:hover {
    color: darkred
}

.active {
    border-bottom: 2px solid #3a3a3a
}

/* billboard */

/*
.billboard {
    position: fixed;
    right: 50px;
    margin-top: 50px;
}
*/

.billboard img {
    width: 1000px;
    height: 100%;
    position: fixed;
    right: 50px;
    margin-top: 50px;
    object-fit: cover;
    vertical-align: bottom;
}
